<main class="body" id="main-content" role="main" data-currency-code="{{currency_selector.active_currency_code}}">
    {{#block "hero"}}
    {{/block}}

    <div class="myheadeing">
        <h2 class="page-heading">Compra por colecciones
            <p>Una experiencia excepcional</p>
            <span class="head-line"></span>
        </h2>
    </div>

    <div class="">
        {{#block "page"}} {{/block}}
    </div>

    {{> components/common/modal/modal}}
    {{> components/common/alert/alert-modal}}
</main>