---
category:
shop_by_price: true
products:
limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
{{#if pagination.category.previous}}
<link rel="prev" href="{{pagination.category.previous}}">
{{/if}}
{{#if pagination.category.next}}
<link rel="next" href="{{pagination.category.next}}">
{{/if}}
{{/partial}}
{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="container catagory-space" style="padding-right: 15px; padding-left: 15px;">
    <div class="row">
        <aside id="colm-left" class="col-lg-3 col-sm-12 col-md-12 col-xs-12 hidden-sm hidden-xs">
            <div class="page">
                {{#if category.faceted_search_enabled}}
                <aside class="page-sidebar" id="faceted-search-container">
                    {{> components/category/sidebar}}
                </aside>
                {{else if category.subcategories}}
                <aside class="page-sidebar" id="faceted-search-container">
                    {{> components/category/sidebar}}
                </aside>
                {{else if category.shop_by_price}}
                {{#if theme_settings.shop_by_price_visibility}}
                <aside class="page-sidebar" id="faceted-search-container">
                    {{> components/category/sidebar}}
                </aside>
                {{/if}}
                {{/if}}
            </div>
        </aside>
        <div class="col-lg-9 col-sm-12 col-md-12  col-xs-12 colright" id="content">

            <!-- Agregado por sphere para el header -->
            <!-- Fila 2: Subcategorías -->
            {{#if category.subcategories}}
            <div class="subcategories-pill-wrapper mt-3 mb-4">
                <div class="subcategory-pill-list subcategory-pill-scroll d-flex flex-wrap gap-2">
                    {{#each category.subcategories}}
                    <a href="{{url}}" class="subcategory-pill">
                        {{name}}
                    </a>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            <!--<div class="category-container container">
                 Primera fila: Título de la categoría 
                <div class="row">
                    <div class="col-12">
                        {{#unless theme_settings.hide_category_page_heading }}
                        <h2 class="category-title">{{category.name}}</h2>
                        {{{region name="category_below_header"}}}
                        {{/unless}}
                    </div>
                </div>

                 Segunda fila: Imagen y contenido a la derecha
                <div class="row category-content align-items-start">
                    Columna 1: Imagen más grande 
                    <div class="col-xl-4 col-md-5 col-sm-12 text-center category-image-container">
                        {{#if category.image}}
                            {{> components/common/responsive-img
                                image=category.image
                                fallback_size="800w"
                                class="category-image-large"
                            }}
                        {{/if}}
                    </div> -->

                    <!-- Columna 2: Contenedor de descripción 
                    <div class="col-xl-12 col-md-7 col-sm-12 category-right d-flex flex-column">
                        <div class="category-content-wrapper">
                            Fila 1: Descripción  
                             <div class="category-description">
                                <p class="category-text">
                                    {{{category.description}}}
                                </p>
                            </div> 

                        </div>
                    </div>
                </div>
            </div>-->

            {{{region name="category_above_gridandlist"}}}
            <div class="row cate-border">
                <!-- Shepre: Eliminar icono de vista previa de la categoría -->
                <!-- <div class="col-md-6 col-3 category-grid">
                    <span id="gridProduct" class="active" title="Grid"><svg width="20px" height="20px">
                            <use xlink:href="#cgrid"></use>
                        </svg></span>
                    <span id="listProduct" title="List"><svg width="20px" height="20px">
                            <use xlink:href="#clist"></use>
                        </svg></span>
                </div> -->
                <div class="col-12 actionbar-filter">
                    <div class="text-right">
                        {{> components/products/filter sort=pagination.category.sort}}
                    </div>
                </div>

            </div>

            <div class="page-contentc" id="product-listing-container">
                {{> components/category/product-listing}}
                {{{region name="category_below_content"}}}
            </div>
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}