<section class="heroCarousel"
    data-slick='{
        "arrows": {{arrows}},
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": true,
        "autoplaySpeed": {{carousel.swap_frequency}},
        "slide": "[data-hero-slide]"
    }'
>
    {{#each carousel.slides}}
    {{#if button_text}}
    <div data-hero-slide="{{@index}}">
    {{else}}
    <a href="{{url}}" data-hero-slide="{{@index}}" aria-label="{{#if this.alt_text.length '!=' 0}}{{this.alt_text}}{{else}}{{lang 'carousel.slide_number' slide_number=(add @index 1)}}{{/if}}">
    {{/if}}
        <div class="heroCarousel-slide {{#if ../theme_settings.homepage_stretch_carousel_images}}stretch{{/if}} {{#if @first}}heroCarousel-slide--first{{/if}}">
            {{#if button_text}}
            <a href="{{url}}" class="heroCarousel-image-wrapper" aria-label="slider_image">
            {{else}}
            <div class="heroCarousel-image-wrapper">
            {{/if}}
            {{#if @first}}
            <picture>
                <!--JRivas: 24/03/2025 Imagenes en version movil para el carousel-->
                <source media="(max-width: 600px)" srcset="/content/mobile-slide-0.webp">
                <img
                src="{{getImage stencil_image '1280w' format='webp'}}"
                srcset="
                    /content/mobile-slide-0.webp 600w,
                    {{getImage stencil_image '1280w' format='webp'}} 1280w
                "
                sizes="(max-width: 600px) 100vw, 1280px"
                alt="{{alt_text}}"
                class="heroCarousel-image"
                loading="lazy"
                />
            </picture>            
            {{else}}
                <picture>
                    <source srcset="{{getImage stencil_image '1280w' format='webp'}}" type="image/webp">
                    <img 
                        src="{{getImage stencil_image '1280w'}}"
                        alt="{{stencil_image.alt}}"
                        title="{{stencil_image.alt}}"
                        class="heroCarousel-image lazyload"
                        loading="lazy">
                </picture>
            {{/if}}
            {{#if button_text}}
            {{/if}}
            {{#if button_text}}
            </a>
            {{else}}
            </div>
            {{/if}}
            {{#or heading text button_text}}
                {{> components/carousel-content}}
            {{/or}}
        </div>
    {{#if button_text}}
    </div>
    {{else}}
    </a>
    {{/if}}
    {{/each}}
    {{#if carousel.slides.length '>' 1}}
        {{> components/carousel-content-announcement}}
        {{#if play_pause_button}}
            {{> components/carousel-play-pause-button}}
        {{/if}}
    {{/if}}
</section>
